@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */

/* Style the buttons that are used to open the tab content */
.tab-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow-y: scroll;
  color: black;
  padding: 10px 10px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
}

.tab-button i {
  cursor: pointer;
  transition: transform 0.3s, color 0.3s;
}

/* Hover effect for icons */
.tab-button i:hover {
  transform: scale(1.2);
}

/* Style the tab content */
.tabcontent {
  display: block;
  float: left;
  border: 1px solid gray;
  width: 90%;
  border-left: none;
  overflow-y: scroll;
  height: 500px;
}

.chat_room_table {
  overflow: auto;
  width: 100%;
}

.chat_room_table table {
  height: 100%;
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 1px;
  text-align: left;
}

.chat_room_table th {
  background-color: gray;
  color: #ffffff;
  padding: 6px;
}

.chat_room_table td {
  background-color: #ffffff;
  color: #000000;
  padding: 5px;
}